{% include 'base.html' %}
{% load bootstrap4 %}

{% block content %}
<form action="" method="post">
    {% csrf_token %}
    <div class="container">
        <div class="row">
            <div class="col-3">
                <div class="card">
                    <div class="card-body">
                        {{ user.username }}
                        <div><a href="#">@{{ user.username }}</a></div>
                        </br>
                        <div>Tweets: {{ user.user_tweets.all.count }}</div>
                        <div><a href="{% url 'accounts:following'%}">Following:</a> {{ user.follows.count }}</div>
                        <div><a href="{% url 'accounts:followers'%}">Followers:</a> {{ user.followed_by.count }}</div>
                    </div>
                </div>
                </br>
                <a href="{% url 'authentication:logout' %}" class="btn btn-danger btn-sm">Logout</a>
            </div>
            <div class="col-5">
                <h2>Tell everybody what you're up to! What's new? What's changed?</h2>
                {% bootstrap_form form %}
                <input type="submit" class="btn btn-default" value="Tweet!">
            </div>
        </div>
    </div>
</form>
{% endblock %}